* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f9eae1;
  /* colors https://coolors.co/palette/cc8b86-f9eae1-7d4f50-d1be9c-aa998f */
}

/* HEADER ------------------------------------ */
header {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotext {
  background-color: rgb(11, 189, 64);
}

.logotext,
h1 {
  font-size: 30px;
  color: #7d4f50;
}

span {
  color: #cc8b86;
  letter-spacing: -5px;
}

.nav-div {
  background-color: brown;
}

.nav-list,
li {
  min-width: 100px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.nav-div,
li,
p {
  flex: ;
}

/* MAIN --------------------------------------- */

main {
  display: flex;
}
.img-container {
  background-color: blue;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

img {
  max-width: 100%;
}

.text-container {
  background-color: rgb(255, 0, 102);
}

.main-list {
  background-color: rgb(255, 251, 0);
}

.words-div {
  background-color: rgb(12, 82, 211);
}

.words1,
.words2,
.words3 {
  display: block;
  border-radius: 50%;
  text-align: center;
  height: 80px;
  width: 80px;
  line-height: 80px;
}

.words1 {
  background-color: #cc8b86;
}

.words2 {
  background-color: #7d4f50;
}

.words3 {
  background-color: #aa998f;
}
