* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f9eae1;
  /* colors https://coolors.co/palette/cc8b86-f9eae1-7d4f50-d1be9c-aa998f */
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

@media (max-width: 599px) {
  header, main, footer {
    flex-direction: column;
    align-items: center;
  }
}

/* HEADER ------------------------------------ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
}

.logotext,
h1 {
  font-size: 30px;
  color: #7d4f50;

}

h1 > span {
  color: #cc8b86;
  letter-spacing: -5px;
}

.nav-div {
  background-color: brown;
}

.nav-list,
li {
  min-width: 100px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  color: #7d4f50;
}

.nav-list > li > a {
  color: #7d4f50;
  text-decoration: none;
  background-color: transparent;
  padding: 0 20px 0 20px;
  margin-right: 50px;
}

.nav-list > li > a:hover {
  transform: scale(1.05);
  display: block;
  transition: all .3s ease-in-out;
  background-color: #7d4f50;
  color: #F9EAE1;
}

/* MAIN --------------------------------------- */

main {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  width: 100%;
}

.front-container p {
  color: #7d4f50;
}

.front-container {
  min-height: 300px;
  align-items: center;
  display: flex; 
}

.img-container {
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.front-img {
  max-width: 100%;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.5s ease-out;
}

img {
  width: 100%;
  height: 100%;
}

body.loaded img {
  transform: translateX(0);
  opacity: 1;
}

.text-container {
  max-width: 600px;
  margin-left: 40px;
  margin-right: 40px;
}

.text-container > h1 {
  font-size: 30px;
}

.text-container h3 {
  color: #f9eae1;
  background-color: #7d4f50;
}

.text-container > p {
  margin-top: 20px;
  color: #7d4f50;
}

.main-list {
  background-color: rgb(255, 251, 0);
}

.words-div {
  display: flex;
  padding-top: 30px;
  justify-content: space-evenly;
  margin-top: 20px;
}

.words1,
.words2,
.words3 {
  border-radius: 50%;
  text-align: center;
  height: 80px;
  width: 80px;
  line-height: 80px;
  color: #f9eae1 !important;
}

.words1 {
  background-color: #cc8b86;
}

.words2 {
  background-color: #7d4f50;
}

.words3 {
  background-color: #aa998f;
}

/* FOOTER--------------------------------------------- */

footer * {
  background-color: #d1be9c;
}

footer {
  min-height: 100px;
  background-color: #d1be9c;
  margin-top: 100px;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
}

h4 {
  font-weight: 500;
  color: #7d4f50;
}

.material-icons {
  font-size: 15px;
  color: #7d4f50;
}

.footer-left {
  padding-left: 10px;
}

.footer-left p {
  color: #7d4f50;
  font-size: 14px;
}

.footer-right  p{
  color: #7d4f50;
  font-size: 14px;
}

.footer-right {
  padding-right: 10px;
}
